body {
  text-align: center;
  background: #444;
  color: #fff;
  font-family: serif;
}

canvas {
  border: 2px solid #222;
  background: #000;
  border-radius: 4px;
  position: absolute;
  left: 2em;
  width: calc(100vw - 4em);
  top: 2em;
  height: calc(100vh - 8em);
}

#controls {
  position: absolute;
  top: calc(100vh - 5em);
  left: 2em;
  text-align: center;
  width: calc(100vw - 4em);
}

#sub_controls {
  margin: 4pt;
}

#tempo_controls {
  margin: 4pt;
}
